@import "bower_components/foundation/scss/foundation.scss";
html { 
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none; 
	-webkit-text-size-adjust: 100%; 
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
	text-size-adjust: 100%;
}
html, body {
	height: 100%;
}

// MOBILE-FIRST UI
body > div {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    
    position: absolute;
    top: 0;
}
.features_segments_container {
    width: 92vw;
    left: 0;
    z-index: 2;
    clip: rect(0, 100vw, 100vh, 0);
    
    &.collapsed {
        clip: rect(0, 0vw, 100vh, 0);
        opacity: 0; // fix ie mobile z-index handling
    }

    .features_container {
        float: left;
        min-width: 10em;
        width: 20vw;
        height: 100%;
        padding: 1em;
        overflow: auto;
        
        background: $primary-color;
        
        table {
            width: 100%;
            //margin: 0 -1em;
            td {
                text-align: right;
                background: lighten($primary-color, 10%);
            }
        }
    }
    .segments_container {
        max-width: 80vw;
        height: 100%;
        padding: 1em;
        overflow: auto;
    
        background: $primary-color;
        
        tr:first-child {
            background: lighten($primary-color, 10%);
        }
    }
    
    table {
        background: $primary-color;
        border: 0;
        border-spacing: 2px;
        
        tr.sticky:first-child {
            position: fixed;
            top: 0;
            background: $primary-color;
            th {
                background: lighten($primary-color, 10%);
            }
        }
        tr {
            height: 2.5em;
            min-height: 2.5em;
            background-color: rgba(#fff, .05);
        }
        th, td {
            min-width: 2.5em;
            max-width: 2.5em;
            overflow: hidden;
            text-align: center;
        }
        tr:nth-child(even), td:nth-child(even) {
            background-color: rgba(#fff, .1);
        }

    }
}
.container_toggler {
    width: 8vw;
    left: 0;
    z-index: 3;
    
    background: $primary-color;
    a {
        display: block;
        position: relative;
        top: 50%;
        margin: 0 -3em;
        transform: rotate(90deg);
        color: $secondary-color;
    }
    &:hover {
        background: darken($primary-color, 10%);
        cursor: pointer;
    }
    &.right_side {
        left: 92vw;
    }
}
.rules_container {
    width: 92vw;
    left: 8vw;
    z-index: 1;
    padding: 1em;
    
    background: lighten($primary-color, 10%);
    
    &.collapsed {
    }
}
.selection_container {
    display: none;
}

// LARGE UI
@media #{$large-up} {
    body > div {
        transition: all .5s ease-in-out;
    }
    .features_segments_container {
        width: 76vw;
        &.collapsed {
            opacity: 1; // fix ie mobile z-index bug
            clip: rect(0, 15vw, 100vh, 0);
        }
        .features_container {
            width: 15vw;
        }
        .segments_container {
            max-width: 85vw;
        }
    }
    .container_toggler {
        transition: all .4s ease-in-out;
        left: 15vw;
        width: 4vw;
        &.right_side {
            left: 76vw;
        }
    }
    .rules_container {
        left: 19vw;
        width: 61vw;
    }
    .selection_container {
        display: block;
        width: 20vw;
        right: 0;
        z-index: 3;
        padding: 1em;
        
        background: purple;
    }

}

/*
div.ime_suggest {
    height: 9em;
    max-width: 100%;
    white-space: nowrap;
    position: absolute;
}
    div.ime_button_list {
        white-space: normal;
        display: inline-block;
        width: 10em;
        vertical-align: top;
    }
        .ime_button_list button {
            position: relative;
            width: 100%;
            height: 1.5em;
            background: rgba(240,240,240,.95);
            border: 1px solid rgba(0,0,0,.6);
            line-height: 1em;
        }
        .ime_button_list small {
            display: inline-block;
            position: absolute;
            
            top: 0;
            left: .5em;
            line-height: 2em;
            font-size: 80%;
        }
        .ime_button_list em {
            margin-left: 1em;
            font-size: 60%;
            font-style: italic;
        }
        button.ime_selected { background: rgba(150,150,150,.95); }

.rules {
    font-size: 120%;
	border: 0;
}
    .rules input {
        padding: .15em;
        font-size: 80%;
        letter-spacing: .05em;
    }
.rules button {
	padding: .1em !important;
}
    .rules input:focus {
        padding: .3em;
        font-size: 125%;
    }
    .rules th:first-child, .rules td:first-child {
    }
    .rules th:first-child {
        text-align: right;
        font-variant: small-caps;
    }
    .rules th:last-child, .rules td:last-child {
        padding-right: 3em;
    }
    .rules td, .rules th {
		padding: 1em;
        text-align: center;
    }
    .rules tr.odd {
        background-color: rgba(0,0,0,.075);
    }
    .rules tr.even {
        background-color: rgba(0,0,0,.1);
    }
	.rule {
		width: 15rem;
	}
    input[type="text"].rule_target, input[type="text"].rule_transform {
        width: 45%;
		margin: 0;
		display: inline-block;
    }
    input[type="text"].rule_environment, input[type="text"].rule_name {
        width: 100%;
		margin: 0;
		display: inline-block;
    }
    .arrow {
        display: inline-block;
        width: 10%;
        font-size: 125%;
    }
*/